.card-deck { padding-top: 30px; text-align: center;
}
.card-img-top { object-fit: cover; width: 60px; height: 60px; align-self: center;
}
.error {
background-color: #fff0f0;
}
body {
margin-top: 55px;
background-color: rgb(144, 144, 144);
}
